node_modules/*
src/js/*
dist/main.js
thirdparty_protobufs/*
proto/*
dist/*
.dccache
.idea
.vscode
.npmrc
package-lock.json


examples/jsonRPC_test.ts
examples/restAPI_test.ts
examples/tendermintRPC_test.ts
bin/examples/jsonRPC_test.d.ts
bin/examples/restAPI_test.d.ts
bin/examples/tendermintRPC_test.d.ts
bin/examples/jsonRPC_test.js
bin/examples/restAPI_test.js
bin/examples/tendermintRPC_test.js
pairingList.json